{% extends "index.html" %}

{% block head %}
<link rel="stylesheet" href="../static/css/signup.css"/>
 <title>Feedback</title>
{% endblock %}

{% block content %}
<!-- forgot password form design -->
    <section>
      <h1>Forgot Password?</h1>
      <div>
        <form action="backend.php">
          <div class="container ">
            <i class="bi bi-envelope-fill"></i>
            Email<input type="email" placeholder="email@address.com" name="uid" id="myEmail" class="forgotPwd"/>
          </div>
          <div class="container pwdContainer">
            <input type="submit" value="Send OTP" class="submit-button"/>
          </div>
          <div class="link-button">
            <p> Received OTP? <a href="{{ url_for('otp_auth') }}" target="_blank">Reset Password</a></p>
            <p> Remember Your Password? <a href="{{ url_for('login') }}" target="_blank">Sign In</a></p>
          </div>
        </form>
      </div>
    </section>
{% endblock %}
