{% extends "index.html" %}
{% block head %}
<link rel="stylesheet" href="../static/css/service.css"/>
 <title>Services</title>
{% endblock %}

{% block content %}
<!-- Services design -->
    <section>
    <h1><b><i>Services</i></b></h1>
      <div class="container">
      	   <div class="row">
                <div class="col-md-12">
                     <div class="section header">
                          <h2> Services</h2>
                     </div>
                </div>
           </div>
           <div class="row">
                 <div class="col-md-4">
                      <div class="single-service">
                           <div class="service-bg service-bg-1">
                                <h2>Tag Extraction</h2>
                           </div>
                           <div class="service-text">
                                 <p> Tool that will output META tags based on input page information.</p>
                           <a href="{{ url_for('toolbox',toolName = 'TagExtraction') }}"  class"btn-area">Launch<i class="fa fa-long-arrow-right"></i></a>
                           </div>
                        </div>
                    </div>
                
              
              <div class="col-md-4">
                      <div class="single-service">
                           <div class="service-bg service-bg-2">
                                <h2>Text Summarization</h2>
                           </div>
                           <div class="service-text">
                                 <p> A text summarizer is an online tool that wraps up a text to a specified short length. </p>
                           <a href="{{ url_for('toolbox',toolName = 'TextSummarization') }}" class"btn-area">Launch<i class="fa fa-long-arrow-right"></i></a>
                           </div>
                       </div>
                     
                    </div>
                 <div class="col-md-4">
                      <div class="single-service">
                           <div class="service-bg service-bg-3">
                                <h2>Question Generation</h2>
                           </div>
                           <div class="service-text">
                                 <p> Question generation is the task of automatically generating questions from a text paragraph.</p>
                           <a href="{{ url_for('toolbox',toolName = 'QuestionGeneration') }}" class"btn-area">Launch<i class="fa fa-long-arrow-right"></i></a>
                           </div>
                       </div>
                      </div>
                    </div>
              </div>
      </div>
    </section>
{% endblock %}